<div class="container">
    <div class="row center">
        <div class="col s12 m12">
            <h2 class="header indigo-text lighten-1 section-title">
                What is this?
            </h2>
            <p class="flow-text"> That's a great question.</p>
        </div>
    </div>
</div>

