{{!< default}}

<div class="container">
    <div class="row center">
        <div class="col s12 m12">
            <h2 class="header indigo-text lighten-1 section-title">
                <span>Are you ready to get fisted?!</span>
            </h2>

            <p class="flow-text">
                Use the <strong>Doorman Mike</strong> Slackbot as part of the 211 W Wacker Hustlers group to get recognized by your peers.
                You can then cash in any fists that you receive for some nifty rewards!

            </p>

            <iframe src="//giphy.com/embed/YZFWlgyGLKPHa" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/health-bump-YZFWlgyGLKPHa">via GIPHY</a></p>
            <!--<iframe src="//giphy.com/embed/ReXScMOkEyoWA" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/naruto-bro-fist-bump-ReXScMOkEyoWA">via GIPHY</a></p>-->

        </div>
    </div>
</div>





