{{!< default}}

{{#contentFor 'pageStyles'}}
    <style>

        main {
            flex: 1 0 auto;
        }
        #registerContainer {
            max-width: 450px;
        }

        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #e91e63;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #e91e63;
            box-shadow: none;
        }

    </style>
{{/contentFor}}


<main>
    <center>
        <div class="section"></div>

        <h5 class="indigo-text">Create Account</h5>

        <div class="section"></div>

        <div class="container">
            <div id="registerContainer" class="z-depth-1 grey lighten-4 row" style="padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12" action="/register" method="post">
                    <div class='row'>
                        <div class='col s12'>

                            {{#if errors}}
                                {{#each errors}}
                                    <p class="red-text text-darken-2">{{message}}</p>
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name="givenName" id='givenName' required />
                            <label for='givenName'>First Name</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='text' name="surname" id='surname' required />
                            <label for='givenName'>Last Name</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='email' name="email" id='email' required />
                            <label for='email'>Email (must match slack sign-in email)</label>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='input-field col s12'>
                            <input class='validate' type='password' name='password' id='password' />
                            <label for='password'>Password</label>
                        </div>
                    </div>

                    <br />
                    <center>
                        <div class='row'>
                            <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Create Account</button>
                        </div>
                    </center>
                </form>
            </div>
        </div>
        <a href="{{stormpathConfig.web.login.uri}}">Back to login</a>

    </center>

    <div class="section"></div>
    <div class="section"></div>
</main>
