{{!< default}}

<div class="container">
    <div class="row center">
        <div class="col s12 m12">
            <h2 class="header indigo-text lighten-1 section-title">
                Cash in some hard earned &#9994;&#127998; 's
            </h2>

            <p class="flow-text">
                The following fist rewards are available
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col s12 m12">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="circle green">25</i>
                    <span class="title">25 Fists</span>
                    <p>
                        Mike will PM everyone on Slack saying how awesome you are.
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="circle orange">10</i>
                    <span class="title">10 Fists</span>
                    <p>
                        Mike will give you virtual flowers everyday for a week.
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <li class="collection-item avatar">
                    <i class="circle red">5</i>
                    <span class="title">5 Fists</span>
                    <p>
                        A Personal Mike shoutout saying how awesome you are.
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
            </ul>

        </div>
    </div>
</div>